/* Article content styling */
.article-entry {
  max-width: 1000px;
  margin: 0 auto;
  color: #2f2f2f;
  background-color: #faf8e9;
  padding: 10px 10px; 
  
  border: 1.5px solid #eab69a;
  margin-bottom: 20px; 

}

/* article content */
.article-entry h1{
  color: #f96b5c;   
  font-weight: 400; 
  margin: 0; 
  padding-bottom: 5px;

}
.article-entry h2{ 
  color: #f96b5c; 
  font-weight: 400; 
  padding-bottom: 5px;
  margin: 0; 
}
.article-entry h3{
  color: #f96b5c; 
  font-weight: 400; 
  margin: 0; 
  padding-bottom: 5px; 
}
.article-entry h4 {
  color: #f96b5c; 
  font-weight: 400; 
  margin: 0; 
  padding-bottom: 5px; 

}
.article-entry p { 
  text-indent: 0; 
  margin: 0; 
  padding-bottom: 15px; 


} 
.article-entry a{ 
  color: #40dee0; 
  text-decoration: none; 
  margin: 0; 
} 
.article-entry a:hover{ 
  color: #a4b859; 
  margin: 0;  

}



/* running code */
.article-entry pre{ 
  margin: 3px 3px; 
} 
.article-entry pre code {
  padding: 5px;
  background-color: #204455;
  color: #c4d6ec;
  display: block; 
  font-family: 'Courier New', Courier, monospace;   
}



.article-entry img {
  display: block; 
  max-width: 100%;
  height: auto; 
  margin: 10px auto; 
  
}

/* variable */
.article-entry code {
  background: #ecb696; 
  border-radius: 2px; 
  padding: 1px 2px; 
}

/* table */
.article-entry strong{
  font-weight: bold; 
} 
.article-entry em{
  font-style: italic; 

} 
.article-entry > table td{
  background-color: #aac9fe;  
  padding: 3px 3px; 
} 
.article-entry > table th{
  font-weight: bold; 
  padding: 4px; 
} 
.article-entry > table thead{ 
  background-color: #bce2c2; 
  padding: 3px 3px; 
} 

/* footer */ 
.article-entry hr{
  height: 2px; 
  background-color: #726383; 
  border: none; 
} 
.article-footer-tags {
  padding: 5px; 
} 
